{% extends 'layout.html.twig' %}

{% block bodyClass %} backend dashboard {% endblock %}

{% block pageTitle %} Scheduled tweets {% endblock %}

{% block content %} 
    <a href="{{ path('tweet_new') }}" class="button icon new">New tweet</a>

    <ul class="schedule">
        <li>
            <div class="time">
                <p class="icon date">June 30, 2013</p>
                <p class="icon time">15:20</p>
            </div>
            <div class="tweet">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <a href="#">http://t.co/123...</a> <a href="">#hashtag</a> <a href="">#tag</a></p>
            </div>
            <div class="actions">
                <a class="button small icon edit" href="#">Edit</a>
                <a class="button small secondary icon delete" href="#">Delete</a>
            </div>
        </li>
        <li>
            <div class="time">
                <p class="icon date">July 6, 2013</p>
                <p class="icon time">15:20</p>
            </div>
            <div class="tweet">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <a href="#">http://t.co/123...</a> <a href="">#hashtag</a> <a href="">#tag</a></p>
            </div>
            <div class="actions">
                <a class="button small icon edit" href="#">Edit</a>
                <a class="button small secondary icon delete" href="#">Delete</a>
            </div>
        </li>
        <li>
            <div class="time">
                <p class="icon date">August 24, 2013</p>
                <p class="icon time">15:20</p>
            </div>
            <div class="tweet">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <a href="#">http://t.co/123...</a> <a href="">#hashtag</a> <a href="">#tag</a></p>
            </div>
            <div class="actions">
                <a class="button small icon edit" href="#">Edit</a>
                <a class="button small secondary icon delete" href="#">Delete</a>
            </div>
        </li>
        <li>
            <div class="time">
                <p class="icon date">September 30, 2013</p>
                <p class="icon time">15:20</p>
            </div>
            <div class="tweet">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <a href="#">http://t.co/123...</a> <a href="">#hashtag</a> <a href="">#tag</a></p>
            </div>
            <div class="actions">
                <a class="button small icon edit" href="#">Edit</a>
                <a class="button small secondary icon delete" href="#">Delete</a>
            </div>
        </li>
    </ul>

    <h2>Download our PDF guides</h2>
    <a href="#"><img src="{{ asset ('bundles/app/img/banner-besttools.jpg') }}" alt="20 Best Twitter Tools" class="left" /></a>
    <a href="#"><img src="{{ asset ('bundles/app/img/banner-besttools02.jpg') }}" alt="20 Best Twitter Tools" class="left" /></a>
    <a href="#"><img src="{{ asset ('bundles/app/img/banner-premium.jpg') }}" alt="Why go premium?" /></a>
    {% endblock content %}

{% block body -%}
    <h1>Tweet list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Publishat</th>
                <th>Body</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('tweet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.publishAt %}{{ entity.publishAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.body }}</td>
                    <td>{{ entity.status }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tweet_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('tweet_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tweet_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
