<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homepage</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!--[if lte IE 9]><link rel="Stylesheet" type="text/css" href="css/fix-ie9.css" media="screen" /><![endif]-->
	<!--[if lte IE 8]><link rel="Stylesheet" type="text/css" href="css/fix-ie8.css" media="screen" /><![endif]-->
</head>
<body class="homepage variant1">
	<div class="wrap">
		<div class="box">
			<h1>No more complication to schedule your tweets.</h1>
			<p><a href="#" class="button big orange">Sign in with Twitter</a></p>
		</div>
	</wrap>
</body>
</html>
