<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                Dashboard
            {% endblock title %}
        </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        {% block stylesheet %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
            {% endstylesheets %}
        {% endblock stylesheet %}
        {% block javascript %}
            {% javascripts '@AppBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascript %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <header class="top">
            <a href="#" id="logo">SKGDR</a>
            <div class="right">
                <a href="#" class="icon switch">Swith user</a>
                <div class="user">
                    <img src="{{ asset('bundles/app/img/drazen.jpg') }}" alt="Drazen Pavic" />
                    <span>Drazen Pavic</span>
                    <ul>
                        <li><a class="icon settings" href="#">Account settings</a></li>
                        <li><a class="icon logout" href="#">Sign out</a></li>
                    </ul>
                    <span class="drop"></span>
                </div>
            </div>
        </header>

        <div id="container" class="wrap">
            <div id="content" class="column">
                <h1>{% block pageTitle %}{% endblock %}</h1>

            {% block content %}{% endblock %}

            </div>
                <div id="column" class="column">
                    <nav>
                        <ul>
                            <li><a class="icon new" href="#">New tweet</a></li>
                            <li><a class="icon schedule" href="#">Scheduled tweets</a></li>
                            <li><a class="icon feeds" href="#">My feeds</a></li>
                            <li><a class="icon stats" href="#">Stats</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="button orange">Go Premium</a>
                </div>
        </div>
    <div id="footer">
        &copy; SKGDR 2013. <a href="#">Terms of Service</a> &bull; <a href="#">Contact</a>
    </div>
</body>
</html>