div.datepicker {
	position: relative;
	font-size: 12px;
	width: 200px;
	height: 176px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	position: absolute;
	top: 30px;
	left: 0px;
	padding: 5px;
	background: #fff;
	border: 1px solid #d3d6d9;
	border-radius: 2px; -webkit-border-radius: 2px;
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	margin: 0;
}
div.datepicker a {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	font-weight: bold;
	color: #373737;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	font-weight: normal;
	padding: 2px 0;
	width: 30px;
}
div.datepicker .datepickerDoW th {
	font-size: 11px;
	font-weight: bold;
	padding: 10px 0;
}
div.datepicker tbody a {
	display: block;
	padding: 2px 0;
}
div.datepicker tbody th a {
    padding: 0;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	text-align: center;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	font-size: 12px;
	font-weight: normal !important;
	color: #444c55;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
div.datepicker .datepickerGoPrev, div.datepicker .datepickerGoNext {vertical-align: middle;}

/* colors */
td.datepickerNotInMonth a {color: #c3c3c3;}
tbody.datepickerDays td.datepickerSelected, tbody.datepickerDays td.datepickerSelected a {
	background: #63c400;
	color: #fff;
	border-radius: 1px;
	-webkit-border-radius: 1px;
}
tbody.datepickerYears td.datepickerSelected, tbody.datepickerMonths td.datepickerSelected{background: #f4f5f8;}
td.datepickerDisabled a, td.datepickerDisabled.datepickerNotInMonth a {color: #c3c3c3;}
td.datepickerDisabled a:hover {color: #c3c3c3;}